@import "colors"

.m-about_us
  +page

.m-about_us--download-button
  margin-bottom: 5em

.m-about_us--download-icon
  margin-right: 10px

.m-about_us--download-title
  margin-top: 1em

.m-about_us--number
  margin-bottom: 15px

.m-about_us--number--icon
  color:        $main-color-darken
  font-size:    1.3em
  margin-right: 10px

.m-about_us--numbers--list
  list-style-type: none

.m-about_us--numbers--title
  font-size:     1.4em
  margin-bottom: 1.4em !important
  text-align:    center

.m-about_us--photos
  height: 200px

.m-about_us--photos--photo
  height:  200px
  padding: 5px
