.m-home
  +background-size(cover)
  +page
  background: url(image-path('home/pont-de-bergerac.jpg')) center center
  position:   relative

.m-home--logo
  display: block
  margin:  5% auto auto auto

.m-home--title
  +text-shadow(rgb(201, 201, 201) 1px 1px)
  color:      #000
  text-align: center

.m-home--button-wrapper
  text-align: center
